.ExperienceBlock {
    padding: 110px 40px 110px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.title-1 {
    color: #8491A0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}
.title-2 {
    color: white;
    font-weight: 700;
    font-size: 55px;
    line-height: 66.17px;
    max-width: 690px;
}
.works-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.WorkItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.number {
    color: #8491A0;
    font-weight: 400;
    font-size: 117px;
    line-height: 141px;
}
.workPlace {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: white;
}
.description {
    color: #8491A0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
}

@media screen and (max-width: 1080px) {
    .WorkItem {
        height: 250px;
    }
}
@media screen and (max-width: 800px) {
    .WorkItem {
        height: 300px;
    }
}
@media screen and (max-width: 800px) {
    .WorkItem {
        height: 350px;
    }
}
@media screen and (max-width: 650px) {
    .ExperienceBlock {
        padding-top: 50px;
    }
}
@media screen and (max-width: 505px) {
    .number {
        width: 100%;
        text-align: center;
        font-size: 85px;
    }
}
@media screen and (max-width: 460px) {
    .description {
        font-size: 14px;
        line-height: 19px;
    }
    .workPlace {
        font-size: 21px;
        line-height: 30px;
    }
}
@media screen and (max-width: 407px) {
    .works-list {
        flex-direction: column;
        gap: 0;
    }
    .title-2 {
        font-size: 45px;
        line-height: 50px;
    }
    .WorkItem {
        height: auto;
    }
    .number {
        text-align: left;
    }
}